<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteCond $1 !^(index\.php|images|js|css|assets|bootstrap|robots\.txt|$)
    RewriteRule ^(.*)$ /software/index.php/$1 [L,QSA]
</IfModule>

